*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;   
    font-family: 'Raleway', sans-serif;
}

body {
    animation: anim 1s;
}

header{
    width: 100%;
    height: 45px;
    background-color:black;
    display: flex;
}


table input {
    padding: 20px;
    font-size: 14px;
    border-collapse: collapse;
    margin: 20px;
    /* z-index: 1000; */
    transition: 0.5s;
}

.header-left{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 30%;
    align-items: center;
    color: white;
}

.block__element{
    padding: 15px;
}

.header-right{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: flex-end;
    color: white;
    align-items: center;
}

.right__element{
    padding: 10px;
}

.account_img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.nav_bar{
    display: flex;
    flex-direction: column;
    width: 270px;
    height:auto;
}

.menu{
    flex-direction: column;
    border-radius: 2px solid black;
    justify-content: space-between;
    height: 0px;
    width: 235px;
    background-color: white;
    font-size: 16px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    /* font-family:; */
}

.menu pre{
    padding: 4px;
    background-color: white;
}

.menu{
    padding: 10px;
    margin: 10px;
}

.slider{
    width: 250px;
    height: 200px;
    /* float: left; */
}

.slideshow{
    width: 250px;
    height: 300px;
}

.slideshow img{
    width: 250px;
    height: 290px;
    animation: 10s;
    border: 2px solid black;
}

body{
    background-color: #edeef0;
}

.slider{
    margin: 10px;
}

.main_column{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100% ;
    flex-direction: column;
    margin: 7px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.main{
    display: flex;
    flex-direction: row;
}

.logo{
	width: 200px;
	height: 60px;
	padding: 15px;
}

section{
	background-color: #571459;
	display: flex;
	justify-content: space-between;
}
.right{
	display: flex;
	align-items: center;
}

.nav {
	align-items: center;
}

.but {
	display: flex;
	margin: 0px 10px;
	align-items: center;
}

.but li {
	display: flex;
	margin-right: 10px;
}

.but a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px;
	background-color: #571459;
	color: #fff;
}

.uvedom{
	width: 70px;
	padding: 5px;
	margin-right: 30px;
	align-items: center;
}
form {
  width: auto;
  float: right;
  margin-right: 30px;
}
input[type="text"] {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
input[type="text"]:focus {
  width: 300px;
}
button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
.head{
	display: flex;
    height: 50px;
    width: 100%;
    flex-direction: row;
    border: 0.5px solid rgba(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	justify-content: center;
    align-items: center;

}

.head li {
    transition: .4s;
}
#box{
	width: 20px;
	margin: 0;
	padding: 0;
    border: 2px solid red;
	margin-left: 15px;
}
.mess{
	display: block;
	margin: 0px 10px;
	align-items: center;
}
.mess li {
	float: left;
	display: block;
	margin-right: 10px;
}

.mess a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	padding: 2px;
}

.mails {
    margin-top: 0px;
    width: 100%;
    border-spacing: 0;
    border-radius: 40px;
}

.mails td {
    font-size: 1em;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgb(131, 131, 131, 0.4);
}

.mails .columnA {
    max-width: 30px;
}

.mails .columnB {
    max-width: 150px;
    text-align: left;
}

.mails .columnC {
    max-width: 300px;
}

.mails .columnD {
    overflow: auto;
    text-overflow: none;
}

.mails tr:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}

.columnA .checkbox{
    width:17px;
    height:17px;
}

#okno {
    background: #F9F0DA;
    width: 700px;
    height: 300px;
    text-align: center;
    padding: 15px;
    border: 3px solid #571459;
    border-radius: 10px;
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: -1000;
    opacity: 0;
    transition: .4s;
}
#okno:target {display: block;}
.close {
    display: inline-block;
    border: 1px solid #0000cc;
    color: #000;
    padding: 0 12px;
    margin: 20px;
    text-decoration: none;
    background: #F9F0DA;
    font-size: 14pt;
    cursor:pointer;
}
.close:hover {background: #e6e6ff
}
#okno h4{
    text-align: left;
    border: 1px solid black ;
    padding: 15px;
    border-radius: 10px;
}
#okno pre{
    padding: 20px;
    font-size: 15px;
    font-family: proxima-nova;
    font-stretch: expanded;
    font-style: initial;
    font-weight: 700;
}


.hidden {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: black;
    opacity: 0;
    z-index: -1000;
    transition: 1s;
}


@keyframes anim {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes anim2 {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(50px);
    }
}

a {
    color: black;
    padding: 10px;
}
.left {
    width: 20%;
    float: right;
}

.left a {
    margin: 14px;
    padding: 10px;
    margin-top: 26px;
    color: white;
    overflow: hidden;
    border-radius: 10px;
}

.hvr-sweep-to-right {
    cursor: pointer;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(129, 57, 116, 0.9);;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .test:before {
      transition: 1s;
      background-color: black;
  }

  .hvr-radial-out {
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-radial-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(129, 57, 116, 0.9);
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
    color: white;
  }
  .hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  
  .head li:hover {
      transform: translateY(3px);
  }

  footer {
      background-color: rgba(99, 99, 99);
      position: absolute;
      bottom: -300px;
      left: 0;
      width: 100%;
      display: flex;
      text-align: center;

      box-shadow: 1px 1px 40px rgb(0, 0, 0);
  }

  footer ul {
      margin: 0 auto;
    display: flex;
    padding: 29px;
    text-align: center;
  }

  footer li {
      margin-right: 20px;
  }

  footer .s:before {
      background-color:rgb(70, 69, 69) ;
  }
