*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;   
}

header{
    width: 100%;
    height: 45px;
    background-color:black;
    display: flex;
}

.header-left{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 30%;
    align-items: center;
    color: white;
}

.block__element{
    padding: 15px;
}

.header-right{
    display: flex;
    width:100%;
    height: 100%;
    justify-content: flex-end;
    color: white;
    align-items: center;
}

.right__element{
    padding: 10px;
}

.account_img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.nav_bar{
    display: flex;
    flex-direction: column;
    width: 270px;
    height:550px;
}

.menu{
    flex-direction: column;
    border-radius: 2px solid black;
    justify-content: space-between;
    height: 200px;
    width: 235px;
    background-color: white;
    font-size: 16px;
    /* font-family:; */
}

.menu pre{
    background-color: white;
}

.menu{
    padding: 10px;
    margin: 10px;
}

.slider{
    width: 254px;
    height: 300px;
    /* float: left; */
}

.slideshow{
    width: 254px;
    height: 300px;
}

.slideshow img{
    width: 254px;
    height: 290px;
    animation: 10s;
    border: 2px solid black;
}

body{
    background-color: #edeef0;
}

.slider{
    margin: 10px;
}

.main_column{
    display: flex;
    background-color: black;
    width: 50px;
    height: 50px;
}

.main{
    display: flex;
    flex-direction: row;
}

.logo{
	width: 200px;
	height: 60px;
	padding: 15px;
}

section{
	background-color: #571459;
	display: flex;
	justify-content: space-between;
}
.right{
	display: flex;
	align-items: center;
}

.nav {
	align-items: center;
}

.but {
	display: block;
	margin: 0px 10px;
	align-items: center;
}

.but li {
	float: left;
	display: block;
	margin-right: 10px;
}

.but a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px;
	background-color: #571459;
	color: #fff;
}
.left{
	align-items: center;
}
.uvedom{
	width: 70px;
	padding: 5px;
	margin-right: 30px;
	align-items: center;
}
form {
  width: auto;
  float: right;
  margin-right: 30px;
}
input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #F9F0DA;
  outline: none;
  position: relative;
  transition: .3s linear;
}
input:focus {
  width: 300px;
}
button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
